.orderview{

    width: 80% ;
    background  :#ffff;
    display: flex; 
    flex-direction: column;
}

.head{
    display: flex;
    flex-direction: row;
    /* background: blue; */
    border: 0.5px solid rgb(189, 179, 179)

}
.toprighttitle{
    font-size:large;
}

.logopreview{
    font-size:xx-large;
    padding: 20px 20px 20px 0px;
    width: 100%
}

.toform{
   /* background: orange; */
   display: flex;
   flex-direction: row;
}

.consignordetails{
    width: 100%;
    /* background: pinks; */
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    padding-bottom: 20px;


}
.csngtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cdetails{
    display: flex;
    flex-direction: row;
    
}
.clabel{
width: 40%;
/* background: purple; */
padding: 10px 10px 0px 20px;

}
.cvalue{
width: 60%;
/* background: indigo; */
padding: 10px 10px 0px 20px;

}

.Orderdetails{
    /* background: red; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    /* padding-bottom: '200px', */

    
}
.orderbox
{   
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    /* padding: 20px;
    background: red; */


}


.ordermaintitle{
    margin-bottom:20px ;
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
}

.ordertitle{
    padding-left: 20px;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    /* margin-bottom: -1px; */

}

.ordervalue{   
    padding-left: 20px;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    height: 200px;

}


/* ................................ */

.ordertable{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    /* background: blue; */
    padding-bottom: 80px;


}
.tr{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;


}

.thd{
    width: 40%;
    border: 0.5px solid rgb(189, 179, 179);
    background: rgb(243, 233, 233);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;

}
.th{
    width: 12%;
    border: 0.5px solid rgb(189, 179, 179);
    background: rgb(243, 233, 233);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;

}
.tdd{
    width: 40%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;


}

.td{
    width: 12%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;


}

.btn:hover{
cursor: pointer;
background: rgb(167, 66, 66) !important;
}

