.customerview{
    width: 80% ;
    background  :#ffff;
    display: flex; 
    flex-direction: column;
}
.top-head{
    background: rgb(177, 170, 170);
    display: flex;
    padding: 4px;
    flex-direction: row;
    width: 100%;
}

.toptitle{
    width: 20%;
}

.addconsignor{
    padding: 2px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    /* background: blue; */
}

.addcnrbtn:hover{
cursor: pointer;
}

.ordertable{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;


}
.tr{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;


}

.thd{
    width: 20%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;

}
.th{
    width: 12%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;

}
.tdd{
    width: 20%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;


}

.td{
    width: 12%;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 20px;


}


.consignordetails{
    width: 100%;
    /* background: pinks; */
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(189, 179, 179);
    margin-top: -1px;
    margin-left: -1px;
    padding-bottom: 20px;


}
.csngtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cdetails{
    display: flex;
    flex-direction: row;
    
}
.clabel{
width: 25%;
/* background: purple; */
padding: 10px 10px 0px 20px;

}
.cvalue{
width: 75%;
/* background: indigo; */
padding: 10px 10px 0px 20px;
}

